


body {background:url(https://cdn.seovx.com/d/?mom=302) top left;background-size:100%;) ;//图片类型更换请修改参数  
    background-repeat:repeat;
    background-attachment:fixed;
    background-position:50% 50%;
    }
